<section>
  <div class="form-group">
    <select id="single-selection-element" name="element">
      <option value="">-- choose element --</option>
      <option value="fire">fire</option>
      <option value="water">water</option>
      <option value="wind">wind</option>
      <option value="earth">earth</option>
    </select>
  </div>

  <div class="form-group">
    <select id="single-selection-game" name="game">
      <option value="">-- choose game --</option>
      <option value="odr">ODR</option>
      <option value="af">AF</option>
      <option value="jpn">JPN</option>
    </select>
  </div>

  <div class="form-group">
    <select id="single-selection-card-type" name="card-type">
      <option value="">-- choose card type --</option>
      <option value="dino">Dino</option>
      <option value="move">Move</option>
    </select>
  </div>

  <div class="form-group">
    <text-field id="search-name"></text-field>
  </div>
  <div class="form-group">
    <input type="checkbox" id="isHearted" name="hearted" />
    <label for="vehicle1"> only hearted</label><br />
  </div>
</section>
