.card {
  width: 300px;
}

.card-header {
  width: inherit;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 10px 10px;
  border: 3px solid black;
}

.card-body {
  width: inherit;
  box-sizing: border-box;
  border: 3px solid black;
  border-top: none;
  display: flex;
}

.content {
  width: 265px;
  border-right: 3px solid black;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
}

.stack {
  border-bottom: 3px solid black;
  width: inherit;
  height: 37px;
}

.compat {
  width: 35px;
  box-sizing: border-box;
}

.attack {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 10px;
  align-items: center;
}

.attack img {
  width: 35px;
  height: 35px;
}

#stat-sign img {
  width: 30px;
  height: 30px;
}

.attr {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

section span {
  text-align: center;
  width: 129px;
  box-sizing: border-box;
}

.stack:last-of-type {
  border-bottom: none;
}

.buttons {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}
.buttons button {
  border: none;
  background: transparent;
  width: 129px;
  box-sizing: border-box;
  padding: 0;
}
.game {
  border-right: 3px solid black;
}

.normal {
  background: orange;
}
.fire {
  background: red;
}

.water {
  background: blue;
}

.grass {
  background: green;
}

.lightning {
  background: yellow;
}

.earth {
  background: beige;
}

.wind {
  background: aliceblue;
}

.bad {
  background: red;
}

.okay {
  background: blue;
}

.great {
  background: yellow;
}
.compat-value {
  background: orange;
}

#addCollection {
  cursor: pointer;
}

#sendToGame {
  cursor: pointer;
}
.buttons > div > button {
  cursor: pointer;
}
