.card {
  /*
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.8px);
  -webkit-backdrop-filter: blur(13.8px);
  border: 1px solid rgba(255, 255, 255, 0.07);
  */
  cursor: pointer;
}
.bar {
  position: absolute;
  z-index: 999;
  top: 0;
  height: 180px;
}
.card-wrapper {
  width: 350px;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
.card {
  clip-path: polygon(
    0px 20px,
    20px 0px,
    100px 0px,
    120px 20px,
    330px 20px,
    350px 40px,
    350px 150px,
    330px 170px,
    20px 170px,
    0px 150px
  );
  height: 180px;
  width: 500px;
  background-color: gainsboro;
}
.card:active {
  transform: scale(0.9);
}
.card-header {
  /*background-color: #f4f4f4;*/
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  padding: 5px 0px 10px 0px;
  font-size: 0.8em;
  position: relative;
  filter: drop-shadow(2px 4px 6px black);
  left: 25px;
  position: absolute;
  top: 20px;
}

.stats-bar {
  transform: skewX(345deg);
}

.game {
  position: absolute;
  top: 0;
  left: 125px;
  font-size: 0.8em;
}
.type {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 0.8em;
  font-size: 0.8em;
}

.card-title {
  font-size: 1em;
  margin: 0;
  color: white;
  text-align: right;
  padding: 2px;
}

.card-body {
  z-index: 999;
  width: 300px;
  top: 115px;
  left: -20px;
  position: absolute;
  color: var(--background-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  filter: drop-shadow(2px 4px 6px black);
}

.card-image {
  max-width: 100%;
  max-height: 220px;
}
.fire {
  background: #dcdcdc;
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 40%,
    rgba(199, 87, 87, 1) 63%,
    rgba(199, 87, 87, 1) 100%
  );
}

.water {
  background: #dcdcdc;
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 40%,
    rgba(18, 24, 148, 1) 63%,
    rgba(18, 24, 148, 1) 100%
  );
}
.grass {
  background: #dcdcdc;
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 40%,
    rgba(18, 148, 27, 1) 63%,
    rgba(18, 148, 27, 1) 100%
  );
}

.lightning {
  background: #dcdcdc;
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 40%,
    rgba(209, 203, 29, 1) 63%,
    rgba(209, 203, 29, 1) 100%
  );
}
.earth {
  background: #dcdcdc;
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 40%,
    rgba(105, 70, 5, 1) 63%,
    rgba(105, 70, 5, 1) 100%
  );
}
.wind {
  background: #dcdcdc;
  background: linear-gradient(
    90deg,
    rgba(220, 220, 220, 1) 40%,
    rgba(69, 222, 222, 1) 63%,
    rgba(69, 222, 222, 1) 100%
  );
}

.card-image.secret {
  filter: drop-shadow(2px 4px 6px purple);
}
.card-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  padding: 5px 0 0 0;
  filter: drop-shadow(2px 4px 6px black);
}

.card-button {
  padding: 10px 20px;
  /*background-color: #007BFF;*/
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.card-footer img {
  display: block;
  height: 35px;
  width: 35px;
}

.stat p {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.card-button:hover {
  background-color: var(--background-color);
}
.stat {
  width: fit-content;
}
.stat img {
  width: 35px;
}
