<!--</div>
<footer class="card-footer">
</footer>
  -->
<div id="card" class="card">
  <header class="card-header">
    <span id="name" class="card-title"></span>
    <span id="stat-sign" class="stat-sign"></span>
  </header>
  <div class="stats-bar">
    <slot name="stats"></slot>
  </div>

  <section class="card-body">
    <span class="content">
      <span class="attack stat"><img src="../assets/signs/rock.png" />
        <p id="rock"></p>
      </span>
      <span class="attack stat"><img src="../assets/signs/paper.png" />
        <p id="paper"></p>
      </span>
      <span class="attack stat"><img src="../assets/signs/scissors.png" />
        <p id="scissors"></p>
      </span>
      <section class="attr">
        <span id="game" class="game"></span>
        <span id="type" class="type"></span>
      </section>
      <section class="buttons">
        <div id="addCollection">
          <button>&#128151;</button>
        </div>
        <div id="sendToGame">
          <button><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
              <path d="M0 0h24v24H0z" fill="none" />
              <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" />
            </svg></button>
        </div>
      </section>
    </span>
    <span class="compat">
      <div class="stack" data-index="1">
      </div>
      <div class="stack" data-index="2">
      </div>
      <div class="stack" data-index="3">
      </div>
      <div class="stack" data-index="4">
      </div>
      <div class="stack" data-index="5">
      </div>
      <div class="stack" data-index="6">
      </div>


  </section>

</div>
